@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Pacifico&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Courgette&family=Dancing+Script:wght@400..700&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Courgette&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Courgette&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Courgette&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Courgette&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme{
    /*Color logo*/
    --color-logo: #D2E1C4;

    /*Color beige claro*/
    --color-beige: #F5F5DC;
    /*Gris oscuro*/
    --color-gris: #333333;
    /*Gris claro*/
    --color-grisClaro: #6E6E6E;
    /*Verde bosque*/
    --color-verde: #4A6D50;
    /*Negro*/
    --color-negro: #1A1A1A;

    /* Fuentes */
    --font-display-Pacifico: 'Pacifico', cursive;
    --font-display-Parisienne: 'Parisienne', cursive;
    --font-display-CormorantGaramond: 'Cormorant Garamond', serif;
    --font-display-EBGaramond: 'EB Garamond', serif;
    --font-display-Lora: 'Lora', serif;
    --font-display-Poppins: 'Poppins', sans-serif;
    --font-display-Courgette: 'Courgette', cursive;
    --font-display-DancingScript: 'Dancing Script', cursive;
    --font-display-PlayfairDisplay: 'Playfair Display', serif;

    /* Breakpoints */
    --breakpoint-mobile: 850px;
    --breakpoint-md2: 769px;
}

/* Estilos para las animaciones */
.aparecer {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
    will-change: opacity, transform;
}

.aparecer.activo {
    opacity: 1;
    transform: translateY(0);
}

.aparecer-secuencial {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    will-change: opacity, transform;
}

.aparecer-secuencial.activo {
    opacity: 1;
    transform: translateY(0);
}




